/* Обнуление */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/* ------------ */

html {
	box-sizing: border-box;
	/* overflow-y: scroll; */
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-style: normal;
	background: radial-gradient(ellipse at 50% 50%, #fde907 0%, #e21c26 76%);
	color: #fff;
	overflow-y: overlay;
}

.container {
	max-width: 530px;
	padding: 0 15px;
	margin: 0 auto;
}

.header .subtitle {
	text-align: center;
	padding: 20px 50px 0;
}

.header .title {
	color: #E21C26;
	padding-top: 5px;
	font-weight: 700;
	font-size: 50px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	-webkit-text-stroke: 2px white;
}

.claim__inner {
	padding: 20px 40px 30px;
	background-color: rgba(24, 33, 52, 0.7);
	box-shadow: 0 -5px 0 #FDE907;
	border-radius: 0 0 10px 10px;
	margin-bottom: 100px;
}

.claim__inner .claim__title {
	font-size: 40px;
	line-height: 40px;
	color: #FDE907;
	margin-bottom: 10px;
	text-align: center;
}

.form {
	font-size: 18px;
	line-height: 27px;
}


.style-input, .combo-box, .form-textarea, .form-submit {
	font-family: 'Oswald', sans-serif;
	display: block;
	width: 100%;
	height: 50px;
	font-size: 18px;
	margin-top: 15px;
	border-radius: 4px;
	border: 0;
	padding: 0 20px;
	color: #000;
	outline: none;
	border-bottom: 4px solid transparent;
	transition: border .3s;
}

.form-textarea {
	height: 100px;
	resize: none;
	padding: 10px 20px;
}

.form-submit {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 15px 30px;
	margin: 15px 0;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	background-color: #E21C26;
	border: none;
	border-bottom: 4px solid #FDE907;
	cursor: pointer;
}

.style-input:focus, .form-textarea:focus, combo-box:focus {
	border-bottom: 3px solid #E21C26;
}

.form-submit:hover {
	transition: all 0.5s;
	background: #fff;
	color: #2c236c;
}

.form-checked .toggle {
	display: none;
}

.form-checked input[id="checked-online"]:checked~.toggle {
/* .form-checked input[type=checkbox]:checked~.toggle { */
	display: block;
}

.form-checked input[type="radio"] {
	display: none;
}

.form-checked > span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	margin-bottom: -3px;
	margin-left: 10px;
	position: relative;
}

.form-checked > span::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #E21C26;
	/* border: 1px solid #000; */
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.form-checked input[type="radio"]:checked + span::before {
	opacity: 1;
}

.claim__confirm {
	list-style: none;
}

.claim__confirm-item {
	color: #FDE907;
}

.claim__confirm-item span {
	display: block;
	margin-bottom: 10px;
	color: white;
}

.claim__confirm-item:last-child span {
	margin-bottom: 0;
}


.modal-window {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	overflow-x: hidden;
	z-index: 400;

	/* скрываем окно */
	opacity: 0;
	pointer-events: none;
	z-index: -20;
}

.modal--active {
	opacity: 1;
	pointer-events: auto;
	z-index: 400;
}

.modal-window__content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 512px;
	max-width: 100%;
	padding: 20px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	font-family: inherit;
	font-size: 1rem;
	color: #000;
}

.modal-window__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #595959
}

.modal-wdinow__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-wdinow__title {
	max-width: 100%;
	font-size: 30px;
	margin-bottom: 15px;
	font-weight: 700;
}

.modal-wdinow__text {
	font-size: 18px;
	margin-bottom: 15px;
}

.modal-btn {
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin: 5px;
	margin-bottom: 0;
	padding: 5px 40px;
	background-color: #97b3c7;
	box-shadow: none;
	font-family: inherit;
	cursor: pointer;
	transition: background .3s;
}

.modal-btn--blue {
	background-color: #2778c4;
}

.modal-btn--blue:hover {
	background-color: #4193e0;
}

.modal-cancel:hover {
	background-color: #c5d4de
}

@media (max-width: 480px) {
	.header .title {
		font-size: 50px;
		line-height: 55px;
	}

	.claim__inner .claim__title {
		font-size: 30px;
		line-height: 30px;
	}
}

@media (max-width: 390px) {
	.header .title {
		font-size: 40px;
		line-height: 45px;
	}

	.modal-wdinow__button {
		display: block
	}
}
