<!-- Version: 0.1 -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Generate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
</head>
<body>
    <div class="content-downloader">
        <div class="content-downloader__inner">
            <div class="upload-inner">
              <input class="input-fileUpload" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  />  
              <div class="custom-upload">
                <button class="btn button-fileUpload">
                    Выбрать файл
                  </button>
                  <span class="fileUpload-text">
                    Файл еще не выбран.
                  </span>
              </div>
            </div>
            <div class="content-button">
                <a href="word" class="btn create__prog">
                    Создать программу
                </a>
                <a href="javascript:(0)" class="btn create__diplom">
                    Создать дипломы
                </a>
                <a href="javascript:(0)" class="btn create_blagodarnost">
                    Создать благодарности
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>