{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Поиграем {% now 'Y' %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	<header class="header">
		<div class="container">
			<h3 class="subtitle">Международный фестиваль исполнителей на русских народных инструмент</h3>
			<h1 class="title">
				Поиграем {% now 'Y' %}
			</h1>
		</div>
		
	</header>
	<section class="claim">
		<div class="container">
			<div class="claim__inner">
				<h2 class="claim__title">
					Заявка на участие
				</h2>
				<form class="form" method="post" name="claim" action="">
					{% csrf_token %}
					<p class="type-claim">Формат участия</p>
					<div class="form-checked">
						<input id="checked-fulltime" type="radio" name="type_claim" value="очно" checked>
						<label class="type-claim__text" for="checked-fulltime">Очная</label>
					</div>
					<div class="form-checked">
						<input id="checked-online" type="radio" name="type_claim" value="видео">
						<label for="checked-online">Видео</label>
						<div class="toggle">
							<input class="style-input" type="url" name="url_claim" placeholder="Ссылка" autocomplete="off">
						</div>
					</div>
					<div class="form-input">
						<input class="style-input" type="text" name="name_claim"
							placeholder="ФИО участника / название коллектива" autocomplete="off">
					</div>
					<div class="form-input">
						<input class="style-input" type="text" name="class_claim" placeholder="Класс / Курс"
							autocomplete="off">
					</div>
					<div class="form-input">
						<select class="combo-box" name="select_claim">
							<option disabled selected hidden>Выберите номинацию</option>
							<option value="баян">Баян</option>
							<option value="аккордеон">Аккордеон</option>
							<option value="гитара">Гитара</option>
							<option value="гармонь">Гармонь</option>
							<option value="домра">Домра</option>
							<option value="балалайка">Балалайка</option>
							<option value="ансамбль">Ансамбль</option>
							<option value="оркестр">Оркестр</option>
						</select>
					</div>
					<div class="form-input">
						<input class="style-input" type="text" name="parent_claim" placeholder="Преподаватель / Руководитель"
							autocomplete="off">
					</div>
					<div class="form-input">
						<input class="style-input" type="text" name="concert_claim" placeholder="Концертмейстер"
							autocomplete="off">
					</div>
					<div class="form-input">
						<input class="style-input" type="text" name="sity_claim"
							placeholder="Город / учебное заведение" autocomplete="off"> <!--ИСПРОВИТЬ SITY на CITY-->
					</div>
					<div class="form-input">
						<textarea class="form-textarea" name="prog_claim" cols="30" rows="30"
							placeholder="Программа"></textarea>
					</div>
					<div class="form-input">
						<input class="form-submit" type="submit" name="submit" value="Подать заявку">
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>