<!-- Version: 0.1 -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All Claim</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
</head>
<body>
    <section class="excel">
        <div class="content-downloader">
            <div class="content-downloader__inner">
                <img class="img-excel" src="{% static 'images/microsoft_office_word.png' %}" alt="microsoft office excel">
                <p class="excel-name">
                    {{dir.0}}
                </p>
                <div class="excel-buttons">
                    <a href="{{dir.1}}" download="" class="btn"> 
                        Скачать файл
                    </a>
                    <a href="../" class="btn">
                        Назад
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>